@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 24px;
}
.main-container {
  background: #f8f8f8;
}
.pad-container {
  padding: 24px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0px 2px 12px 0px rgba(230, 230, 230, 0.6);
  border-radius: 12px;
}
// public css
/* 公共样式区 */

.flx-row {
  display: flex;
  flex-direction: row;
}

.flx-wr {
  flex-wrap: wrap;
}

.flx-nwr {
  flex-wrap: nowrap;
}

.flx-col {
  display: flex;
  flex-direction: column;
}

.ali-fs {
  align-items: flex-start;
}

.ali-fe {
  align-items: flex-end;
}

.ali-c {
  align-items: center;
}

.tl-c {
  text-align: center;
}

.tl-l {
  text-align: left;
}

.tl-r {
  text-align: right;
}

.js-btw {
  justify-content: space-between;
}

.js-ard {
  justify-content: space-around;
}

.js-eve {
  justify-content: space-evenly;
}

.js-fs {
  justify-content: flex-start;
}

.js-c {
  justify-content: center;
}

.js-fe {
  justify-content: flex-end;
}

.c-f {
  color: #fff;
}

.c-3 {
  color: #333;
}

.c-6 {
  color: #666;
}

.c-7 {
  color: #777;
}

.c-9 {
  color: #999;
}
.c-f5 {
  color: #f56c6c;
}
.c-f2 {
  color: #f23d3d;
}
.c-67 {
  color: #67c23a;
}
.c-ff {
  color: #ff4f67;
}

.bg-f2 {
  background-color: #f23d3d;
}
.bg-67 {
  background-color: #67c23a;
}
.bg-9 {
  background-color: #999;
}

.bg-f {
  background-color: #fff;
}

.bg-page {
  background-color: rgba(250, 248, 248, 1);
}

.bd-tp {
  border-top: 1px solid #ebebeb;
}

.bd-btm {
  border-bottom: 1px solid #ebebeb;
}

.fw-4 {
  font-weight: 400;
}

.fw-7 {
  font-weight: 700;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.w-50 {
  width: 50%;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-28 {
  font-size: 28px;
}

.fs-30 {
  font-size: 30px;
}

.fs-32 {
  font-size: 32px;
}

.fs-34 {
  font-size: 34px;
}

.fs-36 {
  font-size: 36px;
}

.fs-40 {
  font-size: 40px;
}

.fs-46 {
  font-size: 46px;
}

.fs-48 {
  font-size: 48px;
}

.fs-50 {
  font-size: 50px;
}

.fs-72 {
  font-size: 72px;
}

.ps-re {
  position: relative;
}

.ps-ab {
  position: absolute;
}

.ps-fx {
  position: fixed;
}

.set-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pdlr-20 {
  padding: 0 20px;
}
.pdlr-24 {
  padding: 0 24px;
}
.pdlr-30 {
  padding: 0 30px;
}

.pdtb-30 {
  padding: 30px 0;
}

.pdtb-40 {
  padding: 40px 0;
}

.pdtb-60 {
  padding: 60px 0;
}

.pd-20 {
  padding: 20px;
}

.pd-24 {
  padding: 24px;
}

.pd-30 {
  padding: 30px;
}

.pdr-30 {
  padding-right: 30px;
}

.bx-bd {
  box-sizing: border-box;
}

.m-0 {
  margin: 0;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-60 {
  margin-left: 60px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-50 {
  margin-right: 50px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-90 {
  margin-left: 90px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mtb-30 {
  margin: 30px 0;
}

.mlr-15 {
  margin: 0 15px;
}

.owf-hd {
  overflow: hidden;
}

.txt-ell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.txt-wrap {
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}
.search-input {
  width: 220px;
}
.form-input {
  width: 500px;
}
.form-input-100 {
  width: 100px;
}
.form-input-150 {
  width: 150px;
}
.form-input-200 {
  width: 200px;
}
.form-input-300 {
  width: 300px;
}
.form-input-400 {
  width: 400px;
}
.form-button {
  width: 140px;
}
.form-button-w70 {
  width: 70px;
  padding: 12px 0;
}
.tip-text-info {
  color: #409eff;
  cursor: pointer;
}
.tip-text-delete {
  color: #f56c6c;
  cursor: pointer;
}